@media only screen and (max-width: 649px){
    .maps
    {
        padding: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #eaeaea;
    }
    main h1
    {
        font-family: 'Shrikhand';
        font-size: 30px;
        font-weight: 400;
        padding: 15px 0 10px;
        margin: 0px
    }
    .logo img 
    {
        width: 175px;
        padding-top: 10px;
        padding-bottom: 6px;
    }
    .choice_text
    {
    padding-left: 10px;
    }
    #Restaurants
    {
        background-color: #f6f6f6;
        padding: 15px 0 60px;
        text-align: left;
    }
    .searchButton
    {
        padding: 14px 24px;
        background-image: linear-gradient(349deg, #020024 0%, #9356DC 0%, #FF79DA 100%);
        border-radius: 100px;
        color: white;
        text-decoration: none;
        box-shadow: 4px 4px 10px #cfcfcf;
        cursor: pointer;
        width: 60%;
    }
    .presentation
    {
        padding: 35px 35px 70px 35px;
        background-color: #f6f6f6;
    }

    .presentation p
    {
        font-weight: 300;
        font-size: 18px;
        margin-bottom: 30px;
    }
    .fonction h2
    {
    text-align: left;
    padding-left: 12px;
    }

    .choice-1
    {
    display: flex;
    padding-left: 7px;
    }
    .choice-2
    {
        display: flex;
        padding-left: 7px;
    }
    .choice-3
    {
        display: flex;
        padding-left: 7px;
    }
    .choice_content
    {
        display: flex;
        align-items: center;
        padding: 26px;
        width: 240px;
        background-color: #f6f6f6;
        border-radius: 25px;
        margin: 0 24px 24px 24px;
        list-style-type: none;
        position: relative;
        box-shadow: 4px 4px 10px #cfcfcf;
    }
    .choice_number 
    {
        
        padding: 6px 10px;
        margin-right: -25px;
        margin-top: 20px;
        background: #9356DC;
        border-radius: 60px;
        color: white;
        height: 1rem;
    }

    .figureResto img
    {
        height:174px;
        width: 100%;
        object-fit: cover;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
        
    }
    .RestoDescription
    {
        background-color: #fff;
        padding: 12px 10px;
        border-radius: 35px;
       
    }
    .container-items
    {
        margin-bottom: 20px;
    }
    .container-items a
    {
        text-decoration: none;
        color: #020024;
    }
    .figureResto
    {
        background-color: white;
        border-radius: 40px;
        position: relative;
        margin-bottom: 20px;
        box-shadow: 0px 0px 0.5rem 0px #cfcfcf;

    }
    
    .RestoName
    {
        padding-left: 10px;
        margin: 5px;
    }
    .RestoName1
    {
        padding-left: 10px;
        margin: 5px;
    }
    body 
    {
        text-align: center;
        margin: 0;
        padding: 0;
        font-family: 'Roboto', sans-serif,Verdana, Tahoma, sans-serif;
    }
    .RestoCardText
    {
        padding-left: 10px;
        margin: 5px;
    }
    .titleResto
    {
        padding-left: 12px;
    }
    .picture img 
    {
        width: 100%;
    }
    .arrow
    {
        padding-right: 20rem;
    }
    .titleName
    {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 15px 15px 0 15px;

    }
    .titleName i{
        padding-top: 20px;
        padding-right: 14px;
    }
    footer
    {
        background-color: #353535;
        color: white;
        text-align: left;
        padding: 10px 0 20px 12px;
    }
    footer h3
    {
        font-family: 'Shrikhand';
        font-size: 20px;
        font-weight: lighter;

    }
    footer ul
    {
        list-style-type: none;
        padding: 0;
    }
    footer a
    {
        color: white;
        text-decoration: none;
    }
    .menu_card
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 10px;
        position: relative;
        background-color: white;
        border-radius: 15px;
        margin-bottom: 20px;
        overflow: hidden;
        box-shadow: 0px 0px 0.5rem 0px #cfcfcf;

    }
    .noteEnchantee
    {
    background-color: #f6f6f6;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    margin-top: -60px;
    padding-bottom: 56px;
    position: relative;
    
    }
    .entrer h2
    {
        font-weight: 300;
        position: relative;
    }
    .Plats h2
    {
        font-weight: 300;
        position: relative;
    }
    .Desserts h2
    {
        font-weight: 300;
        position: relative;
    }
    .entrer
    {
        text-align: left;
        max-width: 350px;
        width: 100%;
        padding-left: 12px;
    
    }
    .Plats
    {
        text-align: left;
        max-width: 350px;
        width: 100%;
        padding-left: 12px;
    }
    .Desserts
    {
        text-align: left;
        max-width: 350px;
        width: 100%;
        padding-left: 12px;
    }
    
}